.header {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;

  flex-wrap: nowrap;
}


.logo {
  flex-shrink: 0;

  color: #252b42;
  text-decoration: none;

  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}


.desktop-nav {
  display: flex;
  align-items: center;

  gap: 28px;

  margin-left: 55px;

  flex-shrink: 0;
}

.desktop-nav a,
.shop-dropdown {
  color: #737373;

  text-decoration: none;

  font-size: 14px;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;
}

.shop-dropdown {
  border: none;
  background: transparent;

  padding: 0;

  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.desktop-nav a:hover,
.shop-dropdown:hover {
  color: #252b42;
}



.header-actions {
  margin-left: auto;

  display: flex;
  align-items: center;

  gap: 18px;

  flex-shrink: 0;
}

.login-button {
  border: none;
  background: transparent;

  padding: 0;

  color: #23a6f0;

  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 14px;
  font-weight: 700;

  white-space: nowrap;

  cursor: pointer;
}

.icon-button,
.menu-button {
  width: 30px;
  height: 30px;

  border: none;
  background: transparent;

  padding: 0;

  color: #252b42;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.menu-button {
  display: none;
}


.mobile-nav {
  display: none;
}


@media (max-width: 1050px) {
  .header-container {
    padding: 0 24px;
  }

  .desktop-nav {
    gap: 18px;
    margin-left: 35px;
  }

  .header-actions {
    gap: 12px;
  }

  .login-button span {
    display: none;
  }
}


@media (max-width: 768px) {
  .header-container {
    height: 70px;
    padding: 0 24px;
  }

  .desktop-nav {
    display: none;
  }

  .login-button {
    display: none;
  }

  .header-actions {
    gap: 12px;
  }

  .menu-button {
    display: flex;
  }

  .mobile-nav {
    width: 100%;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 28px;

    padding: 25px 20px 70px;
  }

  .mobile-nav a,
  .mobile-shop {
    border: none;
    background: transparent;
    color: #737373;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
  }

  .mobile-shop {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}